<%= form_with model: [post, post_comment], local: false do |f| %>
  <div>
    <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに" %>
  </div>
  <%= f.submit "送信する" ,class: "btn btn-primary"%>
<% end %>