<%= form_with model: [post, post_comment], local: false do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
<% end %>