.back-color{
  background-color: #EDFFF6;
}
.back-color2{
  background-color:	#DDFFFF;
}

.image_size{
  width: 300px;
  height: 300px;
  object-fit: contain;

}

.image_size2{
  width: 600px;
  height: 600px;
  object-fit: contain;

}

input[type="text"] {
        width: 300px;
        height: 40px;
    }
