.back-color{
  background-color: #EDFFF6;
}
.back-color2{
  background-color:	#DDFFFF;
}
.back-color3{
  background-color:	#7FFFD4;
}	

.image_size{
  width: 300px;
  height: 300px;
  object-fit: contain;

}

input[type="text"] {
        width: 300px;
        height: 40px;
    }
